.h5p-editor-topic-map-topic-map-item {
  background-color: var(--theme-color-2);
  border: 2px solid var(--theme-color-4);
  border-radius: 0.5rem;
  color: white;
  display: grid;
  height: 100%;
  outline-offset: 4px;
  overflow: hidden;
  width: 100%;

  &:has(.h5p-editor-topic-map-image) {
    grid-template-rows: minmax(0, 3fr) minmax(min-content, 1fr);
  }

  &:not(:has(.h5p-editor-topic-map-image)) {
    grid-template-rows: 100%;
  }

  &:hover {
    background-color: var(--theme-color-3);
  }

  &.h5p-editor-topic-map-large {
    font-size: 1.125rem;

    .h5p-editor-topic-map-inner {
      padding: 1em 1.25em;
    }
  }

  &.h5p-editor-topic-map-medium {
    font-size: 1rem;

    .h5p-editor-topic-map-inner {
      padding: 0.75em 1em;
    }
  }

  &.h5p-editor-topic-map-small {
    font-size: 0.813rem;

    .h5p-editor-topic-map-inner {
      padding: 0.75em;
    }
  }

  .h5p-editor-topic-map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-grow: 2;
  }

  .h5p-editor-topic-map-inner {
    background-color: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    width: 100%;

    &.h5p-editor-topic-map-no-image {
      flex-grow: 1;
    }

    .h5p-editor-topic-map-label {
      font-size: 1.125em;
      font-weight: 500;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      overflow-wrap: break-word;
      text-align: center;
    }

    .h5p-editor-topic-map-description {
      font-size: 0.625em;
      margin-top: 0.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
