.h5p-editor-topic-map-context-menu-button {
  background: #c4e3f7;
  border: 1px solid #c4e3f7;
  border-radius: 0.25em;
  color: #09f;
  cursor: pointer;
  font-size: 1.2em;
  height: 1.5em;
  margin: 0.15em;
  padding: 0.05em 0.2em;
  pointer-events: all;
  position: relative;
  vertical-align: top;
  width: 2em;
  z-index: 1;

  &:hover,
  &:focus {
    border-color: #0061a2;

    .h5p-editor-topic-map-tooltip {
      display: block;
      z-index: 2;
    }
  }

  &:focus {
    z-index: 2;
  }

  .h5p-editor-topic-map-icon {
    fill: #0061a2;
  }

  .h5p-editor-topic-map-tooltip {
    background: black;
    border-radius: 4px;
    bottom: -2px;
    color: white;
    display: none;
    font-size: 0.8em;
    left: 0;
    padding: 0.2em 0.5em;
    position: absolute;
    transform: translateY(-29px);
    white-space: nowrap;
    z-index: 1;
  }
}
